In [1]:
CREATE TABLE lykhovsky_schema.Vendor (ID INT, Name VARCHAR(50)) WITH (
    DISTRIBUTION = REPLICATE
)

INSERT INTO lykhovsky_schema.Vendor (ID, Name) VALUES (1, 'Creative Mobile Technologies, LLC') 
INSERT INTO lykhovsky_schema.Vendor (ID, Name) VALUES (2, 'VeriFone Inc.') 

CREATE TABLE lykhovsky_schema.RateCode (ID INT, Name VARCHAR(30)) WITH (
    DISTRIBUTION = REPLICATE
)

INSERT INTO lykhovsky_schema.RateCode (ID, Name) VALUES (1, 'Standard rate') 
INSERT INTO lykhovsky_schema.RateCode (ID, Name) VALUES (2, 'JFK') 
INSERT INTO lykhovsky_schema.RateCode (ID, Name) VALUES (3, 'Newark') 
INSERT INTO lykhovsky_schema.RateCode (ID, Name) VALUES (4, 'Nassau or Westchester') 
INSERT INTO lykhovsky_schema.RateCode (ID, Name) VALUES (5, 'Negotiated fare') 
INSERT INTO lykhovsky_schema.RateCode (ID, Name) VALUES (6, 'Group ride') 

CREATE TABLE lykhovsky_schema.Payment_type (ID INT, Name VARCHAR(30)) WITH (
    DISTRIBUTION = REPLICATE
)

INSERT INTO lykhovsky_schema.Payment_type (ID, Name) VALUES (1, 'Credit card') 
INSERT INTO lykhovsky_schema.Payment_type (ID, Name) VALUES (2, 'Cash') 
INSERT INTO lykhovsky_schema.Payment_type (ID, Name) VALUES (3, 'No charge') 
INSERT INTO lykhovsky_schema.Payment_type (ID, Name) VALUES (4, 'Dispute') 
INSERT INTO lykhovsky_schema.Payment_type (ID, Name) VALUES (5, 'Unknown') 
INSERT INTO lykhovsky_schema.Payment_type (ID, Name) VALUES (6, 'Voided trip')

ID,Name
1,"Creative Mobile Technologies, LLC"
2,VeriFone Inc.

ID,Name
6,Group ride
3,Newark
4,Nassau or Westchester
2,JFK
1,Standard rate
5,Negotiated fare

ID,Name
1,Credit card
4,Dispute
5,Unknown
2,Cash
3,No charge
6,Voided trip